@import "../../styles/global-vars.scss";

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: $font-sans-serif;
}

main {
  max-width: 550px;
  min-width: 90vw;
  margin: auto;
}
